.services-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.services {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 5% !important;
    width: 90% !important;
}

.services .section-header {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
}

.services .section-header-title {
    width: 100%;
}

.services .section-header-title::before {
    content: "// ";
}

.services .section-header-text {
    text-align: right;
    width: 100%;
}

.services .services-content {
    height: fit-content;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 100%;
    gap: 0px;
}

.services .services-content .service-wrapper {
    padding: 20px 0;
}

.services .services-content .service {
    flex-direction: row;
    box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin: 0;
}

.services .services-content .service:last-child {
    margin-right: 0;
}

.services .services-content .service .section-images,
.services .services-content .service .section-content {
    width: 100%;
    padding: 0px;
}

.services .services-content .service .section-content h2 {
    margin: 10px 5px;
}

.services .services-content .service .section-content p {
    margin: 0 5px 20px 5px;
}

/* Медиа-запрос для мобильных телефонов */
@media only screen and (max-width: 480px) {
    .services {
        margin: 0 !important;
        width: 100% !important;
    }

    .services .section-header {
        flex-direction: column;
    }

    .services .section-header-title {
        margin-bottom: 10px;
    }

    .services .services-content .service {
        flex-direction: column;
    }

    .services .services-content .service .section-content {
        padding: 30px 0;
    }

    .services .services-content .service .section-content button {
        margin: 0 0 20px 0;
    }
}

/* Медиа-запросы для планшетов */
@media only screen and (min-width: 481px) and (max-width: 800px) {
    .services .services-content .service {
        flex-direction: column;
    }

    .services .services-content .service .section-content {
        padding: 30px 0;
    }

    .services .services-content .service .section-content button {
        margin: 0 0 20px 0;
    }
}
@media only screen and (min-width: 801px) and (max-width: 1024px) {
    .services {
        margin: 0 !important;
        width: 100% !important;
    }
}

/* Медиа-запрос для устройств с разрешением Full HD и выше */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {}