/* .map-tabs-wrapper { */
    /* background-color: #000; */
/* } */

.map-tabs-wrapper .maps-tabs-buttons .MuiButtonBase-root {
    color: #000;
    /* border: 1px solid rgb(255, 192, 39); */
    /* background-color: rgb(255, 192, 39); */
    border-radius: 4px;
    margin: 0 10px;
}

.map-tabs-wrapper .maps-tabs-buttons .Mui-selected {
    color: #000;
    font-weight: bold;
    /* color:rgb(255, 192, 39) !important; */
    /* border: 1px solid rgb(255, 192, 39); */
}

.map-tabs-wrapper .maps-tabs-buttons .MuiTabs-indicator {
    /* display: none; */
    background-color: #000;
}