.service-content h1, .service-content h2, .service-content h3, .service-content h4, .service-content h5, .service-content h6, .service-content p {
  margin: 20px 0;
}

/* Контейнеры для изображений */
.service-content .img-block-count-3,
.service-content .img-block-count-2 {
  display: flex;
  gap: 5px;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.service-content .img-block-count-3 img,
.service-content .img-block-count-2 img {
  flex: 1;
  height: auto;  /* Убираем растяжение по высоте */
  object-fit: cover; /* Добавляем для сохранения пропорций */
}

/* Для картинок в 3 и 2 колонках */
.service-content .img-block-count-3 img {
  max-width: calc(33.33% - 5px);
}

.service-content .img-block-count-2 img {
  max-width: calc(50% - 5px);
}

/* Медиа запрос для мобильных устройств */
@media only screen and (max-width: 480px) {
  .service-content .img-block-count-3,
  .service-content .img-block-count-2 {
    flex-direction: column;
  }

  .service-content .img-block-count-3 img,
  .service-content .img-block-count-2 img {
    max-width: 100%;
    object-fit: contain; /* Для мобильных - сохраняем пропорции без обрезки */
  }
}

/* Стили для таблицы */
.service-content .price {
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  max-width: calc(100% - 10px);
  min-width: 70%;
  overflow-x: auto;
  border-radius: 4px;
  margin: 5px;
  border-collapse: collapse;
  border-spacing: 0;
}

.service-content .price td,
.service-content .price th {
  padding: 15px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.service-content .price th {
  font-weight: bold;
}

.service-content .price th:first-child {
  width: 65%;
}

.service-content .price tbody tr:hover {
  background-color: rgb(245, 211, 130);
}

.service-content ul, .service-content ol {
  /* padding-left: 20px; */
}
