/* Header.css */

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  /* padding: 10px; */
}

.header-wrapper .content,
.header-wrapper .content .content-info .info-phones .swiper .swiper-slide {
  height: 70px;
}

.header-wrapper .content {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  background-color: #0009;
  top: 0px;
  left: 0px;
  z-index: 10000;
  transition: .3s ease-out;
}

.header-wrapper .content.menuFilling{
  background-color: #000;
}

.header-wrapper .content .content-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header-wrapper .content .content-info .info-wrapper-logo-and-menu {
  display: flex;
}

.header-wrapper .content .content-info .info-wrapper-logo-and-menu .info-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-wrapper .content .content-info .info-wrapper-logo-and-menu .info-logo img {
  position: relative;
  width: auto;
  height: 35px;
  cursor: pointer;
}

.header-wrapper .content .content-info .info-wrapper-logo-and-menu .info-menu {
  display: flex;
  gap: 30px;
  padding: 0 0 0 20%;
}

.header-wrapper .content .content-info .info-wrapper-logo-and-menu .info-menu .menu-item {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin: auto 0;
  padding: 10px 20px;
  white-space: nowrap;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header-wrapper .content .content-info .info-wrapper-logo-and-menu .info-menu .menu-item:hover {
  color: rgb(245, 211, 130);
}

.header-wrapper .content .content-info .info-phones {
  display: flex;
}

.header-wrapper .content .content-info .info-phones .swiper .swiper-slide {
  display: flex;
  align-items: center;
}

.header-wrapper .content .content-info .info-phones .phone-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .01em;
  padding: 10px 5px;
  text-align: center;
}

.header-wrapper .content .content-info .info-phones .phone-link:hover {
  color: rgb(245, 211, 130);
}

.header-wrapper .content .content-info .info-phones .phone-link .sub-title {
  font-size: 14px;
  font-weight: 400;
}

.header-wrapper .content .content-menu-button {
  display: none;
}

/* MenuIconCustom.css */
.header-wrapper .content .content-menu-button .menu-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 18px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.header-wrapper .content .content-menu-button .menu-icon-container .menu-icon-bar {
  width: 23px;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header-wrapper .content .content-menu-button .menu-icon-container.open .menu-icon-bar:first-child {
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}

.header-wrapper .content .content-menu-button .menu-icon-container.open .menu-icon-bar:nth-child(2) {
  transform: rotate(-45deg);
  transform-origin: 0% 100%;
}

.header-wrapper .content .content-menu-button .menu-icon-container.open .menu-icon-bar:last-child {
  display: none;
}


@media only screen and (max-width: 800px) {
  .header-wrapper .content {
    justify-content: space-between;
    padding: 0;
    padding-left: 2.5%;
  }

  .header-wrapper .content .content-info .info-wrapper-logo-and-menu .info-menu {
    display: none;
  }

  .header-wrapper .content .content-info .info-wrapper-logo-and-menu .info-logo img {
    height: 30px;
  }

  .header-wrapper .content .content-menu-button {
    display: flex;
  }
}