/* Header.css */

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
}

.header-wrapper .content img {
  height: 50px;
}

.header-wrapper .content {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  background-color: black;
  top: 0px;
  left: 0px;
  z-index: 10000;
}

.header-wrapper .content, .header-wrapper .fallback{
  width: 100%;
  height: 70px;
}

.header-wrapper .content img {
  position: relative;
  width: auto;
  height: 100%;
}