.slider-wrapper .slider-content-text {
    position: absolute;
    bottom: 10%;
    left: 0px;
    margin: 0 5%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-size: 50px;
    max-width: 50%;
}

.slider-wrapper .swiper .slider-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.slider-wrapper .swiper .slider-controls .slider-controls-arrows {
    display: flex;
    flex-direction: row;
}

.slider-wrapper .swiper .swiper-button-prev,
.slider-wrapper .swiper .swiper-button-next {
    position: relative;
    left: unset;
    top: unset;
    right: unset;
    bottom: unset;
    margin: 0 10px;
}

.slider-wrapper .swiper .swiper-pagination {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 0 10px 0;
}


.slider-wrapper .swiper .swiper-pagination .swiper-pagination-total,
.slider-wrapper .swiper .swiper-pagination .swiper-pagination-current{
    margin: 0 10px;
    width: fit-content;
}

.slider-wrapper .swiper .swiper-pagination .swiper-pagination-total {
    color: #a7a7a7;
}

/* Медиа-запрос для мобильных телефонов */
@media only screen and (max-width: 480px) {}

/* Медиа-запросы для планшетов */
@media only screen and (min-width: 481px) and (max-width: 800px) {}

@media only screen and (min-width: 801px) and (max-width: 1024px) {}

/* Медиа-запрос для устройств с разрешением Full HD и выше */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {}